<div class="container">
    <div class="row">
        <div class="md-form active-cyan active-cyan-2 mb-3 mt-3 col-md-10 ml-3">
            <input class="form-control" type="text" id="term" placeholder="Search">

        </div>
        <div class="mt-3" style="height: 10px;">
            <button class="btn btn-primary" type="submit" (click)='search()'>Search</button>
        </div>

    </div>
    <div class="paragraph border ml-3">
        <h3 class="header text-center text-white">ANIMATE THE<br>
            <h1 class="heading">VOTE</h1>
        </h3>

    </div>
</div>